.BuildArea{/*this is the div for the build area*/
    width: 99%;
    height: 98%;
    background-color: #5d8aa8;
    position: absolute;
    border-radius: 20px;
}
.I{/*this is the div for inputs*/
    width: 250px;
    height: 500px;
    background-color: #d8d8d8;
    position: absolute;
    left: 25%;
    top: 50%;
    margin-top: -250px;
    margin-left: -260px;
    border-radius: 20px;
}
.G{/*this is the div for graphing*/
    width: 510px;
    height: 710px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -355px;
    margin-left: -245px;
    border-radius: 15px;
}
#plane{/*this is tag for the canvas*/
    margin-top: 5px;
    margin-left: 5px;
}
.T{/*this is the div for the textarea*/
    width: 510px;
    height: 200px;
}
.PT{/*this is the textarea for positve*/
    width: 250px;
    height: 190px;
}
.NT{/*this is the text area for the negative*/
    width: 250px;
    height: 190px;
    margin-top: -190px;
    margin-left: 255px;
}
.PP, .PN{/*these are the paragraph tag for the text area*/
    width: 200px;
    height: 20px;
    margin: 0px;
    padding-left: 5px;
    font-size: 15px;
    font-family:sans-serif;
    text-align: justify;

}
#pointspos,#pointsneg{/*these are the text area */
    width: 240px;
    height: 168px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    margin-top: 2px;
    resize: none;
}
#pointspos:focus, #pointsneg:focus{/*this gets rid of button borders*/
    outline:0;  
}
.O{/*this is the output div*/
    width: 250px;
    height: 500px;
    background-color: #d8d8d8;
    position: absolute;
    left: 75%;
    top: 50%;
    margin-top: -250px;
    margin-left: 30px;
    border-radius: 20px;
    
}
.B{/*this is the button div*/
    width: 250px;
    height: 50px;
    background-color: #2b579a ;
    position: absolute;
    left: 25%;
    top: 80%;
    margin-left: -260px;
    margin-top: 50px;
    border-radius: 10px;
}
#button{/*this is the button*/
    width: 250px;
    height: 50px;
    background-color: #2b579a ;
    position: absolute;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    color: whitesmoke;
}
#button:hover{/*this is what changes th color of the buttons when hovered on*/
    color: rgb(245,193,113);
}
#button:focus{/*this gets rid of button borders*/
    outline:0;  
}
#button:active{/*this is waht temporarly changes button colors when clicked on*/
    color: #ff6a6a;     
}
p{/*these are all the paragraph tags*/
    font-size: 20px;
    margin-left: 100px;
}
ul{/*this is the list tag*/
    list-style: none;
    padding-left: 20px;
}
#nameuser{/*this is the input tag*/
    border-radius: 5px;
}